<head>
    <%- include ('../partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body class="form-login">
    <%- include('../partials/header') %>
        <main>
            <h1>
                <%= title %>
            </h1>
            <%# messages() %>
            <div>
                <form action="get">
                    <label for="account_email">Email: </label><input type="email" name="account_email">
                    <label for="account_password">Password: </label><input type="password" name="account_password">
                    <button type="submit">Login</button>
                </form>
                <p>No account? <a href="/account/register">Sign up</a></p>
            </div>
        </main>
        <%- include('../partials/footer') %>
</body>