<head>
    <%- include ('../partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body class="form-login">
    <%- include('../partials/header') %>
        <main>
            <h1>
                <%= title %>
            </h1>

            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>

                    <div>
                        <form action="/account/register" method="post">
                            <label for="account_firstname">First name: </label>
                            <input type="text" name="account_firstname" id="accountFirstname" required value="<%= locals.account_firstname %>">

                            <label for="account_lastname">Last name: </label>
                            <input type="text" name="account_lastname" id="accountLastname" required value="<%= locals.account_lastname %>">

                            <label for="account_email">Email: </label>
                            <input required type="email" name="account_email"
                                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
                                placeholder="Enter a valid email address" id="account_email" value="<%= locals.account_email %>">

                            <label for="account_password">Password: </label>
                            <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital
                                letter and 1 special character</span>
                            <input required type="password" name="account_password" id="account_password">
                            <button type="submit">Register</button>
                        </form>
                    </div>
        </main>
        <%- include('../partials/footer') %>
</body>