<!-- The Content Heading -->
<% if (title) { %>
    <title>
        <%= title %>
    </title>
    <% } else { res.redirect('/') } %>

        <head>
            <%- include ('../partials/head') %>
        </head>

        <body>
            <%- include('../partials/header') %>
            <main>
                    <!-- A Message Block -->
                    <%# messages() %>
                    <h1><%- title %></h1>
                        <!-- The Inventory Items Display -->
                        <%- grid %>
            </main>
            <%- include('../partials/footer') %>
        </body>